/*
STYLES.CSS
*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    overflow-x: hidden !important;
    width: 100%;
}

.header-bg
{
    background-image: url(https://thumbs.dreamstime.com/z/bakery-background-ingredients-cooking-christmas-baking-flour-brown-sugar-butter-cranberry-spices-table-top-view-158503198.jpg); 
    height: 700px;
    width: 100%;
    border-right: 20%;
}

.navbar
{
   background-color: rgba(86, 83, 76, 0.529);
  


}
    .logo
        {
            margin: 7px 0px;
        }
     
  .logo a
    {
      font-size: 18px;
      font-family: cursive;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    .logo a:hover 
                {
                  color: #dfc691;
                }


.header-content
{
    text-align:left;
    padding-left: 10%;
    margin-top: 200px;
    background-color: rgba(86, 83, 76, 0.192);
}
  
hr {
	border-top: 4px solid #a47d5e; 
  width: 650px;
	margin-top: 15px;
  margin-right: 70%;
}
    .main-text
    {
      font-size: 92px;
      font-family: 'Playfair Display', serif;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
      z-index: 250; 
    }
    .disc-text
    {
      font-size: 24px;
      font-family: 'Proxima Nova', 'Open Sans';
      color: rgb(255, 255, 255) ;
      text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.004);
      z-index: 247;
      margin-top: 20px;
      
    }
    .menu-btn
    {
      padding: 10px 50px;
      border-width: 2px;
      border-color: #a47d5e;
      border-style: solid;
      background-color: rgba(131, 129, 125, 0.529);  
      margin-top: 30px;
      margin-left: 20%;
      margin-bottom: 5%;
    }
    .menu-btn a
    {
      font-size: 14px;
      font-family: 'Myriad Pro';
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-stretch: expanded;
      text-transform: uppercase;
      text-decoration: none;
    }
    .menu-btn a:hover
    {
        color:#a47d5e;
    }

#about

.title{
      font-size: 48px;
      font-family: 'cursive';
      color: rgb(121, 10, 75);
      font-weight: bold;
      padding-top: 10%;
    }
    .tagline
    {
    color: rgb(148, 16, 78);
    font-family: 'cursive';
    font-stretch: expanded;
    text-transform: uppercase;
    margin-top: -10px;
    padding-top: 5%;
    }
    .para
    {
      font-size: 20px;
      font-family: cursive;
      color: rgb(26, 25, 24);
      margin: 20px 0px 30px 0px;
        line-height: 25px;
    }
   
    .cook
    {
     margin: 30px 0px;
    }
    .fname, .lname {
      font-size: 20px;
      font-family: cursive;
      color: rgb(19, 172, 233);
      margin: 0px 20px;
      padding: 5px 5px;
      border-top: solid 1px rgb(235, 69, 165);
      border-bottom: solid 1px rgb(236, 87, 174);
    }
    .cook text-center{
      height: 50px;
      width: 50px;
    }
  
.about-img
{
  margin: 100px 30px 150px 70px;
  border:solid 5px rgb(121, 10, 75);
}

.fs{
  padding-top:30px;
  background-color :rgb(163, 241, 167);
  width:100%;
  height:600px;
}
.titile{
  font-size: 50px;
  font-family: 'cursive';
  color: rgb(121, 10, 75);
  font-weight: bold;
  padding-top:10px;
  padding-bottom: 2%;
}
.tagline-t
    {
    color: rgb(148, 16, 78);
    font-family: cursive;
    font-stretch: expanded;
    text-transform: uppercase;
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    padding-top:1%;
    }

  #slider
    {
      overflow:hidden ;
  }
 #slider figure{
         border:5px solid rgb(121, 10, 75);
         
         position: relative;
         width:250%;
         
         margin:0;
         Left:0;
         animation:20s slider infinite;
      }

  #slider figure img{
      float:left;
      width:20%;
  }   

  @keyframes slider{
    0%{
      left:0;
    }
    15%{
        left:0;
    }
    30%{
      left:-50%;

    }
    45%{
      left: -50%;
    }
    60%{
      left:-100%;
    }
    75%{
      left:-100%;

    }
    100%{
      left:-100%;
    }
  }
    
   
#reservations
.ss{
  background-image: url(https://thumbs.dreamstime.com/z/pastry-cream-party-children-s-holiday-birthday-wedding-dessert-butter-pink-card-wishes-207515745.jpg);
  width: 100%;
}
.para-t
{
  font-size: 25px;
  font-family: cursive;
  color: black;
   line-height: 25px;
   font-weight: 2%;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 50px;
   text-align: justify;
}

#menu
{
    background-color: rgb(247, 242, 242);
    width: 100%;
}
.titile-t{
  font-size: 50px;
  font-family: 'cursive';
  color: rgb(121, 10, 75);
  font-weight: bold;
  padding-top:10px;
  padding-top: 2%;
}
.tagline-th{
  color: rgb(148, 16, 78);
    font-family: cursive;
    font-stretch: expanded;
    text-transform: uppercase;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    padding-top:2%;

}

.dish-heading
{
  font-size: 20px;
  font-family: cursive;
  color: rgb(121, 10, 75);
  font-weight: bold;
  line-height: 2;
  padding:10px 10px;
  text-align:start;
}
.dish-para
{
  font-size: 14px;
  font-family: 'Proxima Nova';
  color: rgb(86, 83, 76);
  line-height: 1.429;
}
.menu-img
{
  padding: 25px 0px;  
}
.menu-bar
{
    margin-top: -10px;
}

.menu-box2
{
    background-color: rgb(247, 211, 211);
    opacity: 0.8;
    padding: 15px;
}
.menu-box2 p,.menu-box3 p
{
  font-size: 18px;
  font-family: "Alegreya";
  color: rgb(164, 125, 94);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.menu-box2 .num 
{
  font-size: 52px;
  font-family: 'Myriad Pro';
    color: black;
}

.menu-box3
{
  background-color: rgb(247, 211, 211);
  padding: 20px;
     -webkit-box-shadow: 0px 0px 44px 0 #333333;
    box-shadow: 0px 0px 54px 0 #333333;
}
.menu-box3 .num
{
    font-size: 52px;
  font-family: 'Myriad Pro';
    color: #dfc691;
}

#contact
{
  width: 100%;

}
.fnav
{
  margin: 10px 100px;
}

.flinks
{
padding: 5px 2px;
}
.flinks a
{
  font-size: 18px;
  font-family: cursive;
    font-weight: bold;
     color: rgb(121, 10, 75);
      width: 100%;
 };
   
.flinks a:hover
{
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(86, 83, 76);
}

.shub{
  font-size: 15px;
  font-family: cursive;
    font-weight: bold;
  color: rgb(121, 10, 75);
}   

